<div class="title">
	<span class="title_icon">
		<img src="images/bullet1.gif" alt="" title="" />
	</span>
	<%= t('.myaccount')%>
</div>
        
<div class="feat_prod_box_details">
	<p class="details">
		<%= t('.details')%>
	</p>        
	<div class="contact_form">
		<div class="form_subtitle"><%= t('.login')%></div>
		<%= form_tag do %>   
			<div class="form_row">
				<label class="contact" for = "name">
					<strong><%= t('.name')%></strong>
				</label>
				<%= text_field_tag :name, params[:name], :class => "contact_input" %>
			</div>  

			<div class="form_row">
				<label class="contact" for = "password">
					<strong><%= t('.password')%></strong>
				</label>
				<%= password_field_tag :password, params[:password], :class => "contact_input" %>
			</div>                     
		
			<div class="form_row">
				<input type="submit" class="register" value="<%= t('.login')%>" />
			</div>   	   
		<% end %>
	</div>  
</div>	
            
<div class="clear"></div>
