<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="title">
	<span class="title_icon">
		<img src="images/bullet1.gif" alt="" title="" />
	</span>
	<%= t('.list_unshipped_order') %>
</div>

<div class="feat_prod_box_details">
	<p class="details">
		<%= t('.we_have') %><%= pluralize(@total_unshipped_orders, "unshipped order")%>.
	</p>
</div>
<div class="clear"></div>
<% unless @total_unshipped_orders == 0 %>
<div class="contact_form">
	<div class="form_subtitle">Unshipped Orders</div>
	
	<table>
		<tr>
			<th><%= t('.id')%></th>
			<td></td>
			<th><%= t('.create_time')%></th>
			<td></td>
			<th><%= t('.total_price')%></th>
		</tr>

		<% @unshipped_orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td></td>
			<td><%= order.created_at.to_s(:db) %></td>
			<td></td>
			<td><%= number_to_currency order.total_price %></td>
			<td></td>
			<td>
				<%= button_to t('.show'), order, :method => :get %>
			</td>
			<td><%= button_to t('.ship'), :action=>"ship", :id => order.id %></td>
		</tr>
		<% end %>
	</table>
</div>  
<% end %>

<div class="title">
	<span class="title_icon">
		<img src="images/bullet1.gif" alt="" title="" />
	</span>
	<%= t('.admin') %>
</div>
<ul class="list">
	<li><%= link_to t('.orders'), orders_path %></li>
	<li><%= link_to t('.products'), products_path %></li>
	<li><%= link_to t('.users'), users_path %></li>
	<li><%= link_to t('.categories'), categories_path %></li>
</ul>
<div class="clear"></div>
