<div class="depot_form">
<%= form_for @user do |f|%>
  	<%if @user.errors.any? %>
  		<div id="error_explanation">
  			<h2><%= pluralize(@user.errors.count,"error")%> prohibited this user from being saved:</h2>
  			<ul>
  			  <% @user.errors.full_messages.each do |msg|%>
  				<li><%= msg%></li>
  			  <% end %>
  			</ul>
  		</div>
  	<% end %>

	<div class="feat_prod_box_details">
		<p class="details">
		</p>        
		<div class="contact_form">
			<div class="form_subtitle">Enter Admin Detail</div>
			<%= form_tag do %>   
				<div class="form_row">
					<%= f.label :name, "Name:", :class => "contact" %>
					<%= f.text_field :name, :size => 40, :class => "contact_input" %>
					<!--
					<label class="contact" for = "name">
						<strong>Username:</strong>
					</label>
					<%= text_field_tag :name, params[:name], :class => "contact_input" %>
					-->
				</div>  
				
				<div class="form_row">
					<%= f.label :password, "Password:", :class => "contact" %>
					<%= f.password_field :password, :size => 40, :class => "contact_input" %>
				</div>                     
				
				<div class="form_row">
					<%= f.label :password_confirmation, "Confirm:", :class => "contact" %>
					<%= f.password_field :password_confirmation, :size => 40, :class => "contact_input" %>
				</div> 
			
				<div class="form_row">
					<input type="submit" class="register" value="Create" />
				</div>   	   
			<% end %>
		</div>  
	</div>	
				
	<div class="clear"></div>
     
<%end%>
</div>
  