<% if notice %>
	<p id="notice"><%=notice %></p>
<% end %>

<div class="title">
	<span class="title_icon">
		<%= image_tag "bullet1.gif" %>
	</span>
	<%= t('.adminlist')%>
</div>

<div class="contact_form list_orders">
<table>
  <tr>
    <th><%= t('.name')%></th>
    <th><%= t('.type')%></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.type %></td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.destroy'), user, :confirm =>t('.areyousure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<div class="clear"></div>
<br />

<%= button_to t('.new_admin'), new_user_path, { :method => :get, :class => "image_submit right"} %>
