<% if notice %>
	<p id="notice"><%=notice %></p>
<% end %>

<div class="title">
	<span class="title_icon">
		<%= image_tag "bullet1.gif" %>
	</span>
	Admin List
</div>

<div class="contact_form list_orders">
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.type %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<div class="clear"></div>
<br />

<%= button_to 'New Admin', new_user_path, { :method => :get, :class => "image_submit right"} %>
