<%= form_for @customer do |f|%>
  	<%if @customer.errors.any? %>
  		<div id="error_explanation">
  			<h2><%= pluralize(@customer.errors.count,"error")%><%= t('.prohibit')%></h2>
  			<ul>
  			  <% @customer.errors.full_messages.each do |msg|%>
  				<li><%= msg%></li>
  			  <% end %>
  			</ul>
  		</div>
  	<%end%>
<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.register')%>
</div>
        
<div class="feat_prod_box_details">
	<p class="details">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
	</p>
            
	<div class="contact_form">
		<div class="form_subtitle"><%= t('.create_account')%></div>
		<form name="register" action="#">          
			<div class="form_row">
				<label class="contact" for="customer_name">
					<strong><%= t('.name')%></strong>
				</label>
				<%= f.text_field :name, :size => 40, :class => "contact_input" %>
			</div>  

			<div class="form_row">
				<label class="contact" for="customer_password">
					<strong><%= t('.password')%></strong>
				</label>
				<%= f.password_field :password, :size => 40, :class => "contact_input"%>
			</div> 
			
			<div class="form_row">
				<label class="contact" for="customer_password_confirmation">
					<strong><%= t('.confirm')%></strong>
				</label>
				<%= f.password_field :password_confirmation, :size => 40, :class => "contact_input" %>
			</div> 

			<div class="form_row">
				<input type="submit" class="register" value= <%= t('.register') %> />
			</div>   
		</form>     
	</div>  
</div>	
  
<div class="clear"></div>
<% end %>