
     
      

<div class="depot_form">
<%= form_for @customer do |f|%>
  	<%if @customer.errors.any? %>
  		<div id="error_explanation">
  			<h2><%= pluralize(@customer.errors.count,"error")%> prohibited this customer from being saved:</h2>
  			<ul>
  			  <% @customer.errors.full_messages.each do |msg|%>
  				<li><%= msg%></li>
  			  <% end %>
  			</ul>
  		</div>
  	<%end%>
  	  
  	<fieldset>
  	<legend>Enter customer Detail</legend>
  	  	<table>
  	  		<tr>
  	  			<th><%= f.label :name,'Name'%></th>
  	  			<td><%= f.text_field :name, :size => 40 %></td>
  	  		</tr>
  	  		<tr>
  	  			<th><%= f.label :password,'Password'%></th>
  	  			<td><%= f.password_field :password, :size => 40%></td>
  	  		</tr>
  	  		<tr>
  	  			<th><%= f.label :password_confirmation,'Confirm'%></th>
  	  			<td><%= f.password_field :password_confirmation, :size => 40%></td>
  	  		</tr>
  	  	</table>
  	  	<!--
  	  	<div>
  	  		<%= f.label :name%>
  	  		<%= f.text_field :name, :size => 40 %>
  	  	</div>
  	  	
  	  	<div>
  	  		<%= f.label :password,'Password'%>
  	  		<%= f.password_field :password, :size => 40%>
  	  	</div>
  	  	
  	  	<div>
  	  		<%= f.label :password_confirmation,'Confirm'%>
  	  		<%= f.password_field :password_confirmation, :size => 40%>
  	  	</div>
  	  	-->
  	  	<div>
  	  		<%= f.submit%>
  	  	</div>
  	  	
  	</fieldset>
<%end%>
  
  