<div id="comments">
	<div class="title"><%= t('.comments')%>(<%= @comments.length %>):</div>
	<div class="clear"></div>
	<ul class="comments">
	<% @comments.each do |comment| %>
			<li class="comment_record">
				<dl>
					<dt class="">
						<span class="comment_title"><%= comment.title %></span>
						<span class="comment_author"> <%= t('.by')%> <%= @customer.name %></span>
					</dt>
					<dd class="comment_content"><%= comment.comment %></dd>
					<dd>
					<%= button_to t('.delete'), 
						{ :controller=> "comments", :action=> "destroy", :id => comment.id, :product_id => comment.commentable_id },
						{ :class => "comment_delete_button image_submit" }	%>
					</dd>
					<div class="clear"></div>
				</dl>
			</li>
	<% end %>
	</ul>
</div>
<!--
<div id="comments">
	<b><%= t('.comments')%></b>
	<span>Total:<%= @comments.length %></span>
	<% @comments.each do |comment| %>
	<div class="comment">
		<span class="titleline">Title:<%= comment.title %> <%= t('.by')%> <%= @customer.name %></span>		
		<p>Comment:<%= comment.comment %></p>
	</div>
	
	<hr />
	<% end %>
</div>
-->