<% if notice %>
	<p id="notice">
		<%= notice %>
	</p>
<% end %>

<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.my_info')%>
</div>
<div class="feat_prod_box_details">
	<table>
		<tr>
			<th><%= t('.name')%></th>
			<td><%= @customer.name %></td>
			<td><%= link_to t('.reset'), { :controller => "customers", :action => "edit", :id => @customer.id } %></td>
		</tr>
	</table>
</div>	

<div class="clear"></div>

<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	<%= t('.my_store')%>
</div>

<ul class="list">
	<li><%= link_to t('.orders'), :controller=> "customers",:action=> "show_orders" %></li>
	<li><%= link_to t('.collection'), customers_path %></li>
	<li><%= link_to t('.comments'), :controller=> "customers", :action=> "show_comments"%></li>
</ul>
