<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<fieldset>
	<legend>Total Price:<%=@order.total_price%></legend>
<table >
            	<%@order.line_items.each do |line_item|%>
        		<tr>
		        <td><%= line_item.quantity %>&times;</td>
		        <td><%= line_item.product.title %></td>
		        <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
		        </tr>
		        <%end%>
</table>
</fieldset>


<td><%= button_to 'Ship', :controller=>'admin',:action=>'ship',:id=>@order.id %></td>
<%= link_to 'Back', orders_path %>
