<table>
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspan="2"><%= t('.total')%></td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= button_to t('.checkout'), new_order_url, :method=>:get, :class => "image_submit" %>
<%= button_to t('.empty'), cart, :method => :delete, :class => "image_submit", :confim => t('.areyousure') %>