<%= form_for(@category) do |f| %>
	<% if @category.errors.any? %>
    <div id="error_explanation">
		<h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

		<ul>
		<% @category.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
    </div>
	<% end %>
	
	<div class="contact_form">
		<div class="form_subtitle">Create New Category</div>
		<form name="register" action="#">          
			<div class="form_row">
				<%= f.label :name, "Name:", :class => "contact" %>
				<%= f.text_field :name %>
			</div>  

			<div class="form_row">
				<%= f.label :parent, "Parent:", :class => "contact" %>
				<%= 
					f.select :parent, Category::getNames,
						:prompt => "Select parent node" 
				%>
			</div> 
			


			<div class="form_row">
				<%= f.submit :class => "register", :value => "New" %>
			</div>   
		</form>     
	</div>  
<% end %>
