<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	Editing category
</div>

<%= form_for(@category) do |f| %>
	<% if @category.errors.any? %>
    <div id="error_explanation">
		<h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

		<ul>
		<% @category.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
    </div>
	<% end %>
	
	<table>
		<tr>
			<th><%= f.label :name, "Name:" %></th>
			<td><%= f.text_field :name %></td>
			<td><%= f.submit "Reset", { :class => "image_submit" } %></td>
		</tr>
	</table>
<% end %>

<% link_to "Show", @category %>
<%= link_to "Back", categories_path %>
