<% if notice %>
	<p id="notice">
		<%= notice %>
	</p>
<% end %>

<table>
	<tr>
		<th><%= t('.name')%></th>
		<td><%= @category.name %></td>
	</tr>
	<tr>
		<th><%= t('.parent')%></th>
		<td><%= @category.parent %></td>
	</tr>
	<tr>
		<th><%= t('.layer')%></th>
		<td><%= @category.layer %></td>
	</tr>
</table>


<%= link_to t('.edit'), edit_category_path(@category) %> |
<%= link_to t('.back'), categories_path %>
