<div class="title">
	<span class="title_icon">
		<%= image_tag("bullet1.gif") %>
	</span>
	Listing products
</div>

<div class="feat_prod_box_details">
  <table>
  <% @products.each do |product| %>
    <tr class="<%= cycle("list_line_odd", "list_line_even") %>">

      <td>
        <%= image_tag(product.image_url, :width => 98) %>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description),
                 :length => 80) %></dd>
        </dl>
      </td>

      <td class="list_actions">
        <%= link_to "Show", product %><br/>
        <%= link_to "Edit", edit_product_path(product) %><br/>
        <%= link_to "Destroy", product, 
                    :confirm => "Are you sure?",
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <p><%= will_paginate @products %></p>
</div>

<br />

<%= button_to 'New product', new_product_path,
	{ :class => "image_submit", :method => :get } %>
