<% if notice %>
	<p id="notice">
		<%= notice %>
	</p>
<% end %>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= image_tag(@product.image_url, :class => "list_image") %>
</p>

<p>
	<b>Price:</b>
	<%= @product.price %>
</p>
<p>
	<b>Categories:</b>
	<!--
	<% @product.getCategories.each do | category | %>
		<span class="product_categories"><%= category.name %>&sbquo;</span>
	<% end %>
	-->
	<span class="product_categories">
		<%= categoriesToString @product %>
	</span>
</p>
<div id="comments">
	<% rank=1 %>
	<% @comments.each do |comment| %>
	<div class="comment">
		Comment<%= rank %>:
		<span class="commenttitle">Title:<%= comment.title %></span>
		<p>Comment:<%= comment.comment %></p>
	</div>
	<% rank+=1 %>
	<% end %>
</div>
<% form_for(@comment) do |f|%>
	<%= f.hidden_field :product_id, :value => @product.id %>
	<%= f.hidden_field :user_id, :value => session[:user_id] %>
	<%= f.hidden_field :commentable_type, :value => 'product' %>
	<%= f.label :title %><br />
	<%= f.text_field :title %><br />
	<%= f.label :comment %><br />
	<%= f.text_area (:comment, :rows => 3) %><br />
	<%= f.submit "Post Comment" %>
<% end %>	

<% if session[:type]=='User'%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%else%>
<%= link_to 'Back', store_path %>
<%end%>

