<% if notice %>
	<p id="notice">
		<%= notice %>
	</p>
<% end %>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize @product.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@product.image_url, :class => "list_image") %>
</p>

<p>
	<b>Price:</b>
	<%= @product.price %>
</p>
<p>
	<b>Categories:</b>
	<!--
	<% @product.getCategories.each do | category | %>
		<span class="product_categories"><%= category.name %>&sbquo;</span>
	<% end %>
	-->
	<span class="product_categories">
		<%= categoriesToString @product %>
	</span>
</p>
<div id="comments">
	<b>Comments:</b>
	<span>Total:<%= @comment_length %></span>
	<% @comments.each do |comment| %>
	<div class="comment">
		<span class="titleline">Title:<%= comment.title %>  By:<%= @users[comment.user_id]%></span>		
		<p>Comment:<%= comment.comment %></p>
	</div>
	<% if (comment.user_id == session[:user_id]) %>
		<%= button_to 'delete',{:controller=> 'comments',:action=> 'destroy',:id => comment.id, :product_id => @product.id} %>
	<% end %>
	<hr />
	<% end %>
</div>
<% form_for(@comment) do |f|%>
	<%= f.hidden_field :product_id, :value => @product.id %>
	<%= f.hidden_field :user_id, :value => session[:user_id] %>
	<%= f.label :title %><br />
	<%= f.text_field :title %><br />
	<%= f.label :comment %><br />
	<%= f.text_area (:comment, :rows => 3) %><br />
	<%= f.submit "Post Comment" %>
<% end %>	

<% if session[:type]=='User'%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%else%>
<%= link_to 'Back', store_path %>
<%end%>

