<div class="title">
	<span class="title_icon">
		<%= image_tag "bullet1.gif" %>
	</span>
	<%= t('.about_us')%>
</div>
<div class="feat_prod_box_details">
	<p class="details">
		<%= image_tag "about.gif", :class => "right" %>
		<%= t('.detailsone')%>
		<br /><br />
		<%= t('.detailstwo')%>
		<br /><br />
		<%= t('.detailsthree')%>
	</p>
</div>	
<div class="clear"></div>