<div>
	<div class="crumb_nav">
		<%= link_to "home", store_index_path %>
		&gt;&gt; contact us
	</div>
	<div class="title">
		<span class="title_icon">
			<%= image_tag "bullet1.gif" %>
		</span>
		<%= t('.contact_us')%>
	</div>

	<div class="clear"></div>
	<div class="feat_prod_box_details">
		<p class="details">
			<%= t('.details')%>
		</p>
	</div>
	<table class="orders_show_table">
		<tr class="form_row">
			<th class="contact"><%= t('.phone')%></th>
			<td>xxx-xxxx</td>
		</tr>
		<tr class="form_row">
			<th class="contact"><%= t('.email')%></th>
			<td>herdsmen108@gmail.com</td>
		</tr>
	</table>
</div>