<div class="contact_form">
	<div class="form_subtitle"><%= t('.user_guide') %></div>
		<ol>
			<li><h3><%= t('.finding')%></h3>
				<ol>
					<li><%= t('.finding_contentone')%></li> 
					<li><%= t('.finding_contenttwo')%></li>
					<li><%= t('.finding_contentthree')%></li>
					<li><%= t('.finding_contentfour')%></li>
				</ol>
			</li>

			<li><h3><%= t('.cart')%></h3>
				<ol>
					<li><%= t('.cart_contentone')%></li>
					<li><%= t('.cart_contenttwo')%></li>
					<li><%= t('.cart_contentthree')%></li>
					<li><%= t('.cart_contentfour')%></li>
				</ol>
			</li>

			<li><h3><%= t('.favourites')%></h3>
				<ol>
					<li><%= t('.favourites_contevtone')%></li>
					<li><%= t('.favourites_contevttwo')%></li>
				</ol>
			</li>
			
			<li>
				<h3><%= t('.account')%></h3>
				<ol>
					<li><%= t('.account_content')%></li>
				</ol>
			</li>
			
			<li>
				<h3><%= t('.order')%></h3>
				<ol>
					<li><%= t('.order_contentone')%></li>	
					<li><%= t('.order_contenttwo')%></li>
				</ol>
			</li>
			
			<li>
				<h3><%= t('.feedback')%></h3>
				<ol>
					<li><%= t('.feedback_contentone')%></li>	
					<li><%= t('.feedback_contenttwo')%></li>
				</ol>
			</li>
		</ol>	
		
</div>


<div class="contact_form">
	<div class="form_subtitle"><%= t('.admin_guide')%></div>
	<ol>
		<li>
			<h3><%= t('.ad_login')%></h3>
			<p><%= t('.ad_login_content')%></p>
		</li>
		<li>
			<h3><%= t('.management_books')%></h3>
			<p><%= t('.management_books_content')%></p>
		</li>
		<li>
			<h3><%= t('.management_orders')%></h3>
			<p><%= t('.management_orders_content')%></p>
		</li>
		<li>
			<h3><%= t('.management_categories')%></h3>
			<p><%= t('.management_categories_content')%></p>
		</li>
	</ol>
	
</div>

